.app > .card,
.app > .car-section > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 30px;
}

.app {
  background-color: #243782;
  padding: 1px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
}

.check-with-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
  width: 200px;
}

.check-group {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding-bottom: 70px;
  margin-top: 40px;
}

.form-button {
  margin-top: 40px;
}

.item {
  justify-content: space-around;
  display: flex;
}

@media (max-width: 1100px) {
  .item {
    flex-direction: column;
  }
}

.list {
  flex: 1;
}

.ant-card-body {
  flex: 1;
}

.link-to-form-button {
  margin-bottom: 20px;
  margin-left: 40px;
}

.button-data-link {
  margin: 10px 0 0 0;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary {
  background-color: #43aaa0;
  border-color: #006e6a;
}
